<:Title>
  Account

<:Body>  
  <h1>ggerman</h1>
  <ul>
    {{ page._phones.each do |phone| }}
    <li> {{ phone._number }} </li>
    {{ end }}
  </ul>

  <form e-submit="add_account" role="form">
    <div class="form-group">
      <label>Phone</label>
      <input class="form-control" type="text" value="{{ page._new_phone }}" />
    </div>
  </form>

  <p>ggerman account</p>
